.content {
    width: 800px;
}

.modal-hide {
    display: none;
}

.modal-active {
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fade ease 0.5s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.white-text {
    color: #fff;
}

.text-header {
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.text-sub-header {
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
}

.row {
    margin: 0 -12px;
    display: flex;
}

.col {
    padding: 0 12px;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.333333%;
}

.btn-buy {
    border: none;
    background-color: black;
    color: #fff;
}

.btn-send {
    border: none;
    background-color: black;
    color: #fff;
}

.btn-close {
    border: none;
    background-color: black;
    color: #fff;
}

.btn-send,
.btn-close,
.btn-buy:hover {
    opacity: 0.6;
}